/*For the responsive discussion*/

div {
  background: red;
  color: white;
  height: 100px;
}

span {
  background: #6e8065;
  color: black;
  width: 100px;
}

@media screen and (max-width: 600px) {
  div {
    margin: 2em;
  }

  span {
    display: none;
  }
}

/*For the flexbox discussion*/

.posts {
  display: flex;
  flex-direction: row;
  height: auto;
  background: white;
}

article {
  color: red;
  margin: 1em;
}

/*For the grid discussion*/

.parent {
  background: none;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-areas:
    "header header"
    "nav article"
    "footer footer";
}

.parent div {
  margin: 1em;
}

.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
}

.article {
  grid-area: article;
}

.footer {
  grid-area: footer;
}
